<form id="userForm" role="form">
  <div class="form-group">
    <label for="userEmail">Email address</label>
    <input type="email" class="form-control" id="userEmail"> 
  </div>
  <div class="form-group">
    <label for="userPassword">Password</label>
    <input type="password" class="form-control" id="userPassword">
  </div>
  <div class="form-group">
    <label for="userPasswordConfirm">Confirm Password</label>
    <input type="password" class="form-control" id="userPasswordConfirm">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
