{{>head}}
{{>nav_header}}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12"> 
      <div class="row">
        <div class="col-md-5">
          <h1 class="page-header">Users <small>Manage</small></h1>
        </div>
        <div class="col-md-7" style="padding-top: 45px">
          <button type="button" class="btn btn-primary">Create User</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12 main">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Username</th>
              <th>Created At</th>
              <th>Options</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td>213</td>
            <td>SolidSnake</td>
            <td>July 3, 2013 08:14 PST</td>
            <td>
              <button type="button" class="btn btn-default">Edit</button>
              <button type="button" class="btn btn-danger">Delete</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- /container -->

{{>foot}}
